
.navbar-container {
    background-color: #F8F9FA;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


#map { 
    height: 80vh; /* Full screen height */
    width: 100%;
}
.username-text {
    color: black;
    margin: auto;
    font-family: monospace;
}

.brand-text {
    font-family: monospace,'Courier New', Courier ;
}